<div class="container center">
    <h1 class="center">About Me</h1>
    <div></div>
        <img src="/Assets/images/RecentPicture.jpg" class="rightimg" alt="...">
        <p>Name: Jerome Ching <br>
            Student ID: 300817930 <br></p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quaerat non ducimus? Itaque, alias quo! Ipsum repudiandae soluta excepturi maxime. Modi voluptatibus beatae itaque dicta eius doloremque deleniti rem suscipit.
            Lorem, ipsum dolor. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni quam aliquam, corporis delectus a praesentium ea consequuntur iusto sequi cum expedita at exercitationem est laudantium excepturi placeat amet aliquid corrupti!
            Voluptatibus exercitationem aspernatur assumenda, a illum et perspiciatis eligendi obcaecati repellat magnam enim eius atque, amet rem sed repudiandae temporibus. In obcaecati incidunt culpa accusamus a veritatis nobis magni harum?
            Possimus voluptates suscipit fuga magnam amet id molestias nulla, aspernatur cupiditate asperiores ea dolorum beatae! Eaque minima ratione et ducimus, cum libero sed expedita similique aspernatur quis dolore iste illum.</p>
            <a href="/Assets/Resume.pdf">Resume</a>
            
        
</div>